:root {
    --main-bg-color: brown;
    --container-bg-white: hsl(0, 0%, 100%);
    --body-bg-light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-light-gray);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border-radius: 1.25rem;
    background-color: var(--container-bg-white);
    padding: 1rem;
    max-width: 20rem;
}

.qr-container {
    border-radius: .625rem;
    width: 18rem;
    height: 18rem;
}

.qr-container>picture,
.qr-container img {
    width: 100%;
    height: 100%;
    border-radius: .625rem;
}

.text-container {
    margin: 1.5rem 0;
    text-align: center;
    padding: 0 1rem;
    font-family: "Outfit", sans-serif;
}

.text-container>h1 {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.text-container>p {
    font-size: .9375rem;
    color: var(--body-bg-light-gray);
    line-height: 1.2;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}